@import 'normalize';
@import 'https://fonts.googleapis.com/css?family=Ledger';

$white: #ffffff;
$black: #000000;
$dark: #424652;
$light: #9a9da4;
$green: green;
$blue: #8bc6db;
$border: #e9e9e9;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ledger', serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: $dark;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .9em;
}

p {
  font-size: 1em;
}

a {
  color: $light;
  text-decoration: none;
  font-size: 1em;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.wrapper_center {
  max-width: 760px;
}

// == Header

#main_header {
  padding: 3em 5%;
  border-bottom: .1em solid $border;
  .logo {
    float: left;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .4em;
    color: $dark;
    font-weight: bold;
    border: .1em solid $border;
    padding: 1.5em 2em;
  }
  nav {
    float: right;
    margin-top: 1.5em;
    a {
      font-size: 1.1em;
      margin-left: .8em;
    }
  }
}

// == Footer ==

#main_footer {
  padding: 3em 5%;
  border-top: .1em solid $border;
  .copyright {
    float: left;
  }
  .socials {
    float: right;
    font-size: 2em;
    color: $dark;
    a {
      margin-left: 1em;
      &:hover {
        color: $blue;
      }
    }
  }
}

// == Form ==

form {
  margin-top: 4em;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  width: 100%;
  margin-top: .5em;
  &:focus {
    border-color: $blue;
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  line-height: 2em;
  padding: .5em 1em;
  border: .1em solid $border;

}

input[type='submit'] {
  border: .1em solid $border;
  margin: 2em 0 3em 0;
  padding: 1.5em 2em;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  &:hover {
    color: $blue;
    border-color: $blue;
  }
}

textarea {
  border: 1px solid $border;
  min-height: 15em;
  max-width: 100%;
}

.errors {
  display: none;
  margin-top: 3em;
  padding: 1.5em 2em;
  background: rgba(255, 0, 0, 0.1);
}

// == Pagination ==

.portfolio_pagination_wrap {
  text-align: center;
  margin: 3em;
  a, .previous_page, .current, .next_page {
    padding: .75em 1em;
    margin: 0 .25em;
    border: .1em solid $border;
    border-radius: .25em;
    line-height: 1.5em;
    text-decoration: none;
    background: $white;
    color: $dark;
    font-style: normal;
    &:hover {
      background: $blue;
      color: $white;
    }
  }
  .current {
    background: $blue;
    color: $white;
  }
  .disabled {
    color: $light;
    &:hover {
      color: $light;
      background: $white;
    }
  }
}

@import 'welcome';
@import 'viewwork'
