  section {
    margin-top: 4em;
  }

  .about_me {
    .photo {
      float: left;
      width: 25%;
      max-width: 25%;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    .information {
      float: left;
      width: 70%;
      margin-left: 5%;
      .row {
        width: 100%;
        .item {
          width: 30%;
          float: left;
          margin-left: 1.2em;
          p {
            color: $light;
            padding: 0;
            margin: 0;
          }
          .left {
            float: left;
            padding: .8em 1.5em 0 0;
            i {
              font-size: 2em;
            }
          }
          .right {
            float: left;
          }
        }
      }
      p {
        text-align: justify;
        color: $light;
        font-style:italic;
        padding-top: 3em;
      }
      h3 {
        margin: 0;
      }
    }
  }

.services {
  .service-item {
    float: left;
    width: 25%;
    padding: 0 1em 0 1em;
    i {
      font-size: 2em;
      color: $dark;
    }
    p {
      text-align: justify;
      padding-bottom: 1em;
      border-bottom: .1em solid $border;
      color: $light;
    }
  }
}

.portfolio {
  .portfolio-wrap {
    .portfolio-item {
      float: left;
      width: 20%;
      text-align: center;
      margin: 1.5em 2.5% 0 2.5%;
      img {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
        height: auto;
      }
      h3 {
        margin: 0 0 .5em 0;
      }
    }
  }
  .portfolio_btn_wrap {
    text-align: center;
    .button {
      display: inline-block;
      border: .1em solid $border;
      margin: 3em;
      padding: 1.5em 2em;
      font-weight: bold;
      &:hover {
        color: $blue;
        border: .1em solid $blue;
      }
    }
  }
}

.portfolio-page {
  text-align: center;
  hr {
    border: .1em solid $border;
    width: 15em;
  }
}
